form{
    background-color: #040c2b;
    margin: auto;
    text-align: center;
    width: 40%;
    padding: 12px;
    border-radius: 12px;
}
body{
    background-color: #040c2b;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 100%;
}
img{
    border-radius: 2rem;
}
input{
    border-radius: 4px;
}